body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

h1, h2 {
	margin-top: 0;
}

ul, ol {
	margin-top: 0;
	padding-left: 1.5rem;
}

/* En-tête */
header {
	background-color: #333;
	color: #fff;
	padding: 1rem;
}

h1 {
	font-size: 2.5rem;
	margin: 0;
}

nav {
	background-color: #333;
	color: #fff;
	padding: 1rem;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: center;
}

nav li {
	margin-right: 1rem;
}

nav a {
	color: #fff;
	text-decoration: none;
}




/* Contenu */
main {
	padding: 1rem;
}

section {
	margin-top: 2rem;
}

h2 {
	font-size: 2rem;
}

ul, ol {
	margin-top: 1rem;
}

/* Pied de page */
footer {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	text-align: center;
}

footer p {
	margin: 0;
}